
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quản lý cơ sở vật chất - TDMU</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://tdmu.edu.vn/hinh/Icon.png">

    <!-- page css -->
    <!-- Core css -->
    <link href="~/Style/assets/css/app.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="container-fluid p-0 h-100">
            <div class="row no-gutters h-100 full-height">
                <div class="col-lg-4 d-none d-lg-flex bg" style="background-image: url('/Style/assets/images/khong-gian-tdmu-2024.jpg')">
                    <div class="d-flex h-100 p-h-40 p-v-15 flex-column justify-content-between">
                        <div>
                            <img src="~/Style/assets/images/Logo_TDMU_2024_nguyen_ban_Trang.svg" alt="">
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="text-white">Quản lý cơ sở vật chất - TDMU</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 bg-white">
                    <div class="container h-100">
                        <div class="row no-gutters h-100 align-items-center">
                            <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
                                <h2>HỆ THỐNG QUẢN LÝ CƠ SỞ VẬT CHẤT</h2>
                                <p class="m-b-30">
                                    Nhập thông tin xác thực của bạn để có quyền truy cập
                                </p>
                                <div class="form-group">
                                    <label class="font-weight-semibold" for="userName">Username:</label>
                                    <div class="input-affix">
                                        <i class="prefix-icon anticon anticon-user"></i>
                                        <input type="text" class="form-control" id="userName" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-semibold" for="password">Password:</label>
                                    <div class="input-affix m-b-10">
                                        <i class="prefix-icon anticon anticon-lock"></i>
                                        <input type="password" class="form-control" id="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <button class="btn btn-primary">Đăng nhập</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Vendors JS -->
    <script src="~/Style/assets/js/vendors.min.js"></script>
    <!-- page js -->
    <!-- Core JS -->
    <script src="~/Style/assets/js/app.min.js"></script>
</body>

</html>

